.home{
background:linear-gradient(rgba(0, 0, 0, 0.348),rgba(0, 0, 0, 0.335)), url(../img/54b70a3e9d1d216b7d8042aeea2dcaad-2354011393.jpg);
background-repeat: no-repeat;
background-position: right center;
background-size: cover;
color: black;}


.contact {
   
    color: black;
    position: relative;
    padding: 56px 0;

  }
  
   .title{
text-align: center;}
 
  
  .contact .contact-content {
    position: relative;
    z-index: 15;
  }
  .contact .contact-content .column {
    width: calc(50% - 30px);
    margin-top: 27px;
  }
  .contact .contact-content .text {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 35px;
    border-bottom: 2px solid green;
    width: 350px;
    padding-bottom: 10px;
  }
  .contact .contact-content .left p {
    text-align: justify;
  }
  .contact .contact-content .left img {
     width: 540px;
     margin-left: 20px;
  }
  .contact .contact-content .left .icons {
    margin: 10px 0px;
  }
  .contact .contact-content .row {
    display: flex;
    height: 86px;
    align-items: center;
  }
  .contact .contact-content .row .info {
    margin-left: 30px;
  }
  .contact .contact-content .row i {
    font-size: 32px;
    color: #d0962b;
  }
  .contact .contact-content .info .head {
    font-weight: 500;
    font-size: 18px;
  }
  .contact .contact-content .info .sub-title {
    color: rgb(48 0 142);
    font-size: 15px;
  }
  .contact .right form .fields {
    display: flex;
  }
  .contact .right form .field,
  .contact .right form .fields .field {
    height: 55px;
    width: 100%;
    margin-bottom: 15px;
  }
  .contact .right form .textarea {
    height: 90px;
    width: 100%;
  }
  .contact .right form .name {
    margin-right: 10px;
  }
  .contact .right form .field input,
  .contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    padding: 0 13px;
    border-radius: 16px;
    outline: none;
    border: 2px solid #d0d0d0;
    font-size: 17px;
    /* font-family: "Delius Swash Caps"; */
  }
  .contact .right form .field input:focus,
  .contact .right form .textarea textarea:focus {
    border-color: rgb(179, 179, 179);
  }
  .contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
  }
  .contact .right form .button-area {
    display: flex;
    align-items: center;
    position: relative;
  }
  .right form .button-area button {
    display: inline-block;
    font-size: 21px;
    width: 200px !important;
    border-radius: 9px;
    border: 2px solid rgb(173, 231, 14);
    /* font-family: "Ubuntu"; */
    /* margin-top: 0; */
    margin-right: 50px;
    background: orange;
    padding: 8px 0px;
  }
  
  .contact-social {
    margin: 71px auto auto;
    text-align: center;
  }
  .contact-social a {
    color: #240094 !important;
    font-size: 25px;
    margin-left: 9px;
    transition: 0.4s ease;
  }
  .contact-social a:hover {
    color: orange !important;
  }
  
  .contact-social h4 {
    text-align: center;
    margin-bottom: 10px;
  }
  footer {
    background: rgb(56, 13, 13);
    padding: 15px 23px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  footer span a {
    color: rgb(173, 231, 14);
    text-decoration: none;
    transition: 0.3s;
  }
  footer span a:hover {
    text-decoration: underline;
    color: white;
  }
  